---
import "../styles/components/Card.scss";
const { url, title, description, date, image } = Astro.props;
---

<div class="card-container post">
  <img class="post-image" src={image} />
  <a href={url}><h3>{title}</h3></a>
  <p class="date">{new Date(date).toISOString().slice(0, 10)}</p>
  <p>{description}</p>
  <a href={url} class="a-button">Read more</a>
</div>
