---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostCard from "../../../components/PostCard.astro";

const { tag } = Astro.params;
export async function getStaticPaths() {
  return [{ params: { tag: "news" } }];
}
const allPosts = await Astro.glob("../../../pages/blog/*.md");
allPosts
  .sort((a, b) => +new Date(b.frontmatter.date) - +new Date(a.frontmatter.date))
  .filter((post) => {
    if (post.frontmatter.tags != undefined) {
      post.frontmatter.tags.forEach((t) => {
        if (t == tag) {
          return post;
        }
      });
    }
  });
---

<BaseLayout title="Blog" description="Look at all Blog Posts from Pukima">
  <h1>Blog</h1>
  {allPosts.map((post) => (
    <PostCard
      url={post.url}
      title={post.frontmatter.title}
      tags={post.frontmatter.tags}
      description={post.frontmatter.description}
      date={post.frontmatter.date}
      image={post.frontmatter.banner}
    />
  ))}
</BaseLayout>
