---
import { repository } from "../../package.json";
import { Icon } from "astro-icon";
import "../styles/global.scss";
import "../styles/Post.scss";
import BaseLayout from "./BaseLayout.astro";

const { content } = Astro.props;
---
<BaseLayout title={content.title} descriptions={content.description}>
      <img src={content.banner} class="wide-post-banner" />
      <h1>{content.title}</h1>
      <p class="date">Written on {content.date}</p>
      <slot /><br /><br />
      <div class="post-footer">
        <a href={repository + "/blob/master/src/pages/blog/" + content.file.split('/').pop()}><i class="emoji" ><Icon name="fa:pencil" /></i> Edit this page</a>
      </div>
      <br /><br />
</BaseLayout>
